.reserve-container{
    margin: 0 50px;
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 350px);
    gap: 50px;
}

.reserve-step{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: fit-content;
}

.form-box{
    box-sizing: border-box;
    border: 1px solid #aaa;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-height: 416px;
}



.reserve-form{
    display: flex;
    flex-direction: column;
}

.reserve-form .row, .reserve-confirmation .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    color: #495E57;
}

.reserve-form .step{
    font-weight: bold;
    color: #495E57;
}


.reserve-form .input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submit-container-right
{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   margin-top: 20px;
}

.submit-container
{   
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}



.reserve-form .submit-button-group
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f4ce14;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.reserve-form .submit-button-group svg
{
    display: flex;
}

.reserve-form .submit-button{
    background-color: transparent;
    border: none;
}

.restaurant-plan{
    position: relative;
    max-height: 416px;
    max-width: 416px;
    left: 50%;
    transform: translateX(-50%);
}

.restaurant-plan .plan{
    height: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.restaurant-plan .table
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-plan .chair{
    height: auto;
    object-fit: cover;
    width: fit-content;
}


.restaurant-plan .chair_number
{
    position: absolute;
}

.booking-confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    text-align: center;
    gap: 30px;
}

.booking-confirmation svg{
    color: rgb(0, 146, 0);
}